.printlayout{
    padding: 5px;
    float: left;
    width:1.65in;
    height: 2.20cm;
    overflow: hidden;
}

.printlayout span {
    font-size: 8pt;
    display: block;
    line-height: 110%;
    padding-left: 10px;
    text-align: center;
}

.printlayout span:last-child {
    font-weight: bold;
    margin-top: -6%;
    position: relative;
}

.printlayout svg {
    margin-top: -8px;
    position: relative;
    z-index: -1;
}
